name: Publish package to GitHub Packages

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write   # REQUIRED for GitHub Packages

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Configure Maven for GitHub Packages
        run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>github</id>
                <username>${GITHUB_ACTOR}</username>
                <password>${{ secrets.GITHUB_TOKEN }}</password>
              </server>
            </servers>
          </settings>
          EOF
      - name: Resolve dependency with debug
        run: mvn dependency:get -Dartifact=com.self.learn:session-spring-dao:1.0.0
      - name: Publish package
        run: mvn --batch-mode deploy

